@import '../variables.scss';

.header {
	position: relative;
}

.head-top {
	display: none;
}

.head-nav {

	// .head-nav__inner-wrap
	&__inner-wrap {
		padding: 18px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	// .head-nav__menu-icon
	&__menu-icon {
		width: 25px;
		height: 22px;
		position: relative;
		cursor: pointer;
		z-index: 11;

		& > span,
		&::before,
		&::after {
			content: '';
			height: 3px;
			background-color: $golden;
			border: 0.4px solid #FFFFFF;
			border-radius: 3px;
			transition: all .3s linear;
		}

		&::before,
		&::after {
			position: absolute;
			left: 0;
			width: 100%;
			transform-origin: left;
		}

		& > span {
			position: absolute;
			left: 0;
			width: 65%;
			top: 50%;
			transform: translateY(-50%);
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		&_active {
			& > span {
				opacity: 0;
			}
	
			&::before {
				transform: rotateZ(40deg);
			}
			
			&::after {
				transform: rotateZ(-40deg);
			}
		}
	}

	&__icon-cart {
		position: relative;

		&_amount {
			position: absolute;
			top: 50%;
			left: -10%;
			width: 16px;
			height: 16px;
			background-color: $darkGreen;
			font-family: $ceraPro;
			font-weight: 400;
			font-size: 8px;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	// .head-nav__mobile-icon
	&__mobile-icon {
		color: $golden;
		font-size: 24px;
	}

	// .head-nav__menu
	&__menu {
		position: absolute;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100vh;
		z-index: 9;
		transition: all .3s linear;

		&_active {
			left: 0;
			padding: 55px 0;
			background-color: #fff;
		}
	}

	// .head-nav__list
	&__list {
		margin: 0;
		padding: 0 15px;
	}

	// .head-nav__item
	&__item {
		list-style-type: none;
	}

	// .head-nav__link
	&__link {
		position: relative;
		display: block;
		padding: 5px;
		text-transform: uppercase;
		font-family: $ceraPro;
		font-weight: 400;
		font-size: 16px;
		line-height: 29px;

		&::before {
			content: '';
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			height: 3px;
			background-color: $green;
			border-radius: 3px;
			transform-origin: left;
			transform: scaleX(0);
			transition: all .3s linear;
		}

		&:hover {
			&::before {
				transform: scaleX(1);
			}
		}
	}

	// .head-nav__desctop-icons
	&__desctop-icons {
		display: none;
	}
}

.head-logo {
	display: flex;
	justify-self: center;
	align-items: center;
	width: 123px;
	// .head-logo__img
	&__img {
		width: 100%;
		height: fit-content;
	}
}

.head-breadcrumbs {
	border: 1px solid $golden;
	border-left-color: transparent;
	border-right-color: transparent;
	padding: 13px 0;

	// .head-breadcrumbs__inner-wrap
	&__inner-wrap {
	}

	// .head-breadcrumbs__link
	&__link {
		font-family: $ceraPro;
		font-weight: 400;
		font-size: 14px;
		color: $grey;
		line-height: 140%;
		position: relative;

		&:not(:first-child) {
			padding: 0 0 0 15px;
		}

		&:not(:last-child)::after {
			content: '/';
			position: absolute;
			top: 55%;
			right: -15px;
			transform: translateY(-50%);
		}
 	}
}


