@import './variables.scss';
@import './fonts.scss';

* {
	box-sizing: border-box;
}

.wrapper {
	position: relative;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

// components
@import './components/header.scss';
@import './components/product.scss';
@import './components/about-product.scss';
@import './components/additional.scss';
@import './components/reviews.scss';
@import './components/subscribe.scss';
@import './components/footer.scss';

// media
@import './media/header-media.scss';
@import './media/product.media.scss';
@import './media/about-products.media.scss';
@import './media/additional.media.scss';
@import './media/reviews.media.scss';
@import './media/subscribe.media.scss';
@import './media/footer.media.scss';