
// fonts

$ceraPro: 'Cera Pro';

// colors

$golden: #B19E86;
$green: #81B751;
$grey: #898989;
$darkGreen: #003E2A;
$lightGreen: #C2D3B2;
$lightBrown: #B19E86;
$darkGrey: #636363;
$lightGrey: #898989;
$darkWhite: #E2E2E2;
$fourthGrey: #918E8E;
$red: #AC2525;
$lightGolden: #A87457;
$silver: #C1C1C1;

// socials colors

$facebook: #4267B2;
$twitter: #1DA1F2;
$vk: #5181B8;
$pinterest: #E60023;
$odnoklassniki: #EE8208;